.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
}
.cardContainer img{
    border-radius: 50px;
    height: 300px;
    width: 300px;
    margin-top: 10px;
}
.cardContainer h1{
    margin: 0;
}
.cardContainer p, .cardContainer h1{
    margin-left: 5px;
}
.movieCard{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
   
}